html
    head
        meta(charset='utf-8')
        title NodeMonitor
        link(href='http://cdn.staticfile.org/twitter-bootstrap/3.0.2/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='/style.css', rel='stylesheet', type='text/css')

    body
        #navbar-wrapper
            #navigation.navbar.navbar-default.navbar-fixed-top
                .container
                    .navbar-header
                        a.navbar-brand(href='/') NodeMonitor
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li.active
                                a(href='/#') Top
                            li
                                a(href='/#System') System
                            li
                                a(href='/#MemoryDisk') Memory & Disk
                            li
                                a(href='/#User') User
                            li
                                a(href='/#Process') Process

        .container
            .row
                .col-md-4
                    #System.panel.panel-default
                        .panel-heading
                            h3.panel-title System
                        table.table
                            tbody
                                tr
                                    td HostName
                                    td
                                        span#hostname loading...
                                tr
                                    td System
                                    td
                                        span#system loading...
                                tr
                                    td Cpus
                                    td
                                        span#cpus loading...
                                tr
                                    td ServerTime
                                    td
                                        span#servertime loading...
                                tr
                                    td UpTime
                                    td
                                        span#uptime loading...
                                tr
                                    td Loadavg
                                    td
                                        span#loadavg.label.label-info loading...

                .col-md-8
                    #MemoryDisk.panel.panel-default
                        .panel-heading
                            h3.panel-title  Memory & Disk
                        .panel-body
                            p Total memory&nbsp;
                                span#totalMem.label.label-primary loading...
                                span &nbsp;, Real memory usage&nbsp;
                                span#realMem.label.label-danger loading...
                                span &nbsp;, Cache memory&nbsp;
                                span#cachedMem.label.label-warning loading...
                            .progress
                                #realMemPer.progress-bar.progress-bar-danger(role='progressbar', style='width: 33%;')
                                    | loading...
                                #cachedMemPer.progress-bar.progress-bar-warning(role='progressbar', style='width: 34%;')
                                    | loading...
                                #freeMemPer.progress-bar.progress-bar-success(role='progressbar', style='width: 33%;')
                                    | loading...
                            p SWAP total&nbsp;
                                span#swaptotalMem.label.label-primary loading...
                                span &nbsp;, has been used&nbsp;
                                span#swapUsedMem.label.label-warning loading...
                            .progress
                                #swapUsedMemPer.progress-bar.progress-bar-warning(role='progressbar', style='width: 50%;')
                                    | loading...
                                #swapFreeMemPer.progress-bar.progress-bar-success(role='progressbar', style='width: 50%;')
                                    | loading...
                            p Disk total&nbsp;
                                span#diskAll.label.label-primary loading...
                                span &nbsp;, has been used&nbsp;
                                span#diskUsed.label.label-danger loading...
                                .progress
                                    #diskUsedPer.progress-bar.progress-bar-danger(role='progressbar', style='width: 50%;')
                                        | loading...
                                    #diskFreePer.progress-bar.progress-bar-success(role='progressbar', style='width: 50%;')
                                        | loading...
            #User.panel.panel-default
                table.table.table-striped
                    thead
                        tr
                            th USER
                            th PS
                            th %CPU
                            th %MEM
                            th %CACHE
                    tbody#psuser
                        tr
                            td loading...
                            td loading...
                            td loading...
                            td loading...
                            td loading...

            #Process.panel.panel-default
                table.table.table-hover.table-condensed
                    thead
                        tr
                            th USER
                            th PID
                            th %CPU
                            th %MEM
                            th VSZ
                            th RES
                            th TTY
                            th STAT
                            th START
                            th TIME
                            th COMMAND
                    tbody#psall
                        tr
                            td loading...
                            td loading...
                            td loading...
                            td loading...
                            td loading...
                            td loading...
                            td loading...
                            td loading...
                            td loading...
                            td loading...
                            td loading...
        footer
            .container
                .pull-left
                    | Powered by&nbsp;
                    a.text-muted(href='https://github.com/faceair/NodeMonitor', target='_blank') NodeMonitor
                    | &nbsp;.
        script(type='text/javascript', src='http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js')
        script(type='text/javascript', src='http://cdn.staticfile.org/twitter-bootstrap/3.0.2/js/bootstrap.min.js')
        script(type='text/javascript', src='http://cdn.staticfile.org/socket.io/0.9.16/socket.io.min.js')
        script(type='text/javascript', src='http://cdn.staticfile.org/coffee-script/1.7.1/coffee-script.min.js')
        script(type='text/coffeescript', src='/change.coffee')