body {
    padding-top: 70px;
    background: #E0E0E0;
    font-family: "Monaco", "Menlo", "Consolas";
}
a:hover, a:focus {
    text-decoration: none;
}
.container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto
}
abbr[title], abbr[data-original-title] {
    cursor: wait;
    border-bottom: 0;
}
table {
    font-size: 14px;
}
td{
    white-space:nowrap;
}
#System, #Process {
    overflow:hidden;
}
footer {
    line-height: 150%;
    padding: 10px;
    color: #999999;
    font-size: 12px;
    background: #fff;
    border-top: 1px solid #CCC
}